/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  font-family: "Pixelify Sans";
}

.discription-container {
  color: white;
  font-size: 24px;
  opacity: 1;
  transition: opacity 0.3s;
}

.input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 24px;
  padding: 0;
  margin: 0;
  width: auto;
  min-width: 50px;
  font-family: "Pixelify Sans";
}

.transparent {
  opacity: 0;
}

.star {
  position: absolute;
  color: white;
  animation: starAppear 0.5s ease-out;
}

.sentence {
  color: white;
  position: absolute;
  font-size: 24px;
  left: 30px;
  bottom: 30px;
  opacity: 0;
  transition: opacity 0.3s;
}

.sentence.show {
  opacity: 100;
}

@keyframes starAppear {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
